.link {
  color: grey;
  text-decoration: none;
  margin: 0 10px;
  user-select: none;
}

.active {
  &:focus, &:active {
    color: #686868;
  }
  color: #686868;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}